/* Estilos generales */

* {
    /* fuente requerida */
    font-family: 'Merriweather Sans', sans-serif;
    padding: 0;
    margin: 0;
}


/* Estilos para la navbar */

.nav-labcar {
    background-color: transparent;
    border: transparent;
    padding: 15px;
}

.logo-nav {
    width: 100px;
    height: 23px;
}


/* Estilos para el home */

.photo-container {
    background-image: url(../img/taxi.jpg);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    height: 900px;
}


/* Estilos para la card */

.container-card {
    position: absolute;
    overflow: auto;
    background-color: #fcb100;
    width: 500px;
    height: 420px;
    top: 320px;
    right: 0;
    padding: 30px;
}

.mrg-top-title {
    margin-top: -5px;
}

.color-white {
    color: white;
}

.mrg-btm-text {
    margin-bottom: 40px;
}

.logo-blanco {
    width: 80px;
    height: 18px;
    margin-left: 5px;
}

.span-regist {
    margin-left: 40px;
    margin-right: 40px;
}

.form-registro {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid white;
    width: 30%
}

.btn-conductor {
    margin-top: 50px;
    font-size: 16px;
    background-color: white
}


/* section home */

#phone {
    background-color: #fcb100;
}

.mrg-top-phone {
    margin-top: 50px;
}

.container-phone {
    margin-bottom: 25px;
    margin-top: 25px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    width: 80%;
}

.text-phone {
    margin-top: 100px;
    margin-left: 150px;
}

.phone-img {
    margin-bottom: 25px;
    margin-left: 50px;
}

.no-padding [class*="col-"] {
    padding: 0;
}